<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="blog-container">
        <div class="blog-title">{{ post.title }}</div>
        <div class="blog-meta">
            <span>{{ post.author }}</span>
            <span>{{ post.created_at|date:"F j, Y" }}</span>
        </div>
        <div class="blog-content">
            {{ post.content|linebreaks }}
        </div>

        {% endif %}
    </div>

    <hr>
    <a href="{% url 'post_list' %}">Back to Home</a>
</body>

</html>